section.wrapper{
    text-align: center;
}
canvas {
    display: inline;
    outline: 5px solid red;
    max-height: 70vh;
    max-width: 100vw;
}

section.full{
    width: 100%;
    outline: 1px solid blue;
    margin: 0;
    padding: 0;
}

section.half{
    width: 70%;
    float: left;
    outline: 1px solid orange;
    margin: 0;
    padding: 0;
}



